* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
}

body {
    min-height: 100vh;
    background-color: var(--background);
    position: relative;
    overflow: auto;  
}


body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(white 1.5px, transparent 1px);
    background-size: 50px 50px;
    animation: moveParticles 60s linear infinite;
    opacity: 0.09;
    pointer-events: none;
    z-index: 0;
}

@keyframes moveParticles {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, -30px);
    }
    50% {
        transform: translate(40px, -10px);
    }
    75% {
        transform: translate(-10px, 20px);
    }
    100% {
        transform: translate(30px, -40px);
    }
}


nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
} 

ul{
    display: flex;
    align-items: center;
    gap: 3em;
}

nav ul a{
    color: white;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

nav ul a:hover{
    opacity:1;
}

.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    opacity: 2;
}

span{
    background: linear-gradient(to right, #00aaff,
     #0044ff);
    background-clip: text;
    color: transparent;
}

#menu{
    color: white;
    font-size: 3em;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10% 15%;
}

#Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-top: 4.5em;
    color: white;
}

#Home img{
    width: 16vw;
    border-radius: 60%;
    margin-top: 3em;
}

#Home .info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
}

#Home .info-box h1{
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 0.1em;
}

#Home .info-box h3{
    font-size: 3em;
    font-weight: 400;
}

#Home .info-box p{
    font-size: 1.3em;
    opacity: 0.7;
    margin-top: 1em;
}

#About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-top: 7em;
    color: white;
}

#About .info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 700px;
}

#About .info-box h1{
    font-size: 4.5em;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

#About .info-box p{
    opacity: 0.7;
    font-size: 1.3em;
    margin-bottom: 3em;
}

#About .info-box h2{
    font-size: 3em;
    font-weight: 400;
}

.awards {
    display: flex;                   
    flex-wrap: wrap;                  
    justify-content: space-around;    
    gap: 35px;                        
    padding: 20px;
    flex-direction: column;
}

.awards img {
    width: 500px;                    
    height: auto;                     
    border-radius: 8px;               
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;  
}

.awards img:hover {
    transform: scale(1.1);            
}

#tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-top: 7em;
    color: white;
}

#tech-stack .info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 700px;
}

#tech-stack .info-box h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

#tech-stack .info-box p {
    opacity: 0.7;
    font-size: 1.3em;
    margin-bottom: 2em;
    color: white;
}

#tech-stack .info-box h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 0.1em;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 2em;
    justify-items: center;
    margin-top: 2em;
}

.tech-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
}

.tech-container i {
    font-size: 4em;
    margin-bottom: 0.1em;
    transition: transform 0.3s ease-in-out;
}

.tech-container i:hover {
    transform: scale(1.5);
}

.tech-container p {
    font-size: 1.1em;
    opacity: 0.8;
}

#Contact {
    min-height: 100vh;
    padding: 10% 15%;
    color: white;
    padding-top: 7em;
    background-color: var(--background);
}

#Contact .info-box {
    text-align: center;
}

#Contact h1 {
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#Contact p {
    opacity: 0.7;
    font-size: 1.3em;
    margin-bottom: 3em;
    color: white;
}

#Contact .socials {
    display: flex;
    justify-content: center;
    gap: 4em;
}

#Contact .socials a {
    text-decoration: none;
    color: white;
}

#Contact .socials i {
    font-size: 3.5em;
    margin-bottom: 0.5em;
}

#Contact .socials p {
    font-size: 1.7em;
    opacity: 0.8;
    margin-top: 0.5em;
}

@media (max-width: 1024px) {
    #menu {
        display: block;
    }

    .links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        background-color: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .links.active {
        display: flex;
    }

    .links a {
        margin: 1em 0;
        font-size: 1.5em;
        color: white;
    }

    #Home .info-box {
        max-width: 400px;
    }

    #Home .info-box h1 {
        font-size: 3.5em;
        opacity: 15;
    }

    #Home .info-box h3 {
        font-size: 2.1em;
        opacity: 15;
    }

    #Home .info-box p {
        font-size: 1.6em;
        opacity: 15;
    }

    #Home img {
        width: 23vw;
    }

    #About .info-box h1 {
        font-size: 3.5em;
        opacity: 15;
    }

    #About .info-box h2 {
        font-size: 2.5em;
        opacity: 15;
    }

    #About .info-box p {
        opacity: 15;
    }

    #tech-stack .info-box {
        gap: 0.5em;
        max-width: 600px;
    }

    #tech-stack .info-box h1 {
        font-size: 3.5em;
        opacity: 15;
    }

    #tech-stack .info-box p {
        font-size: 1.4em;
        opacity: 15;
        margin-bottom: 2em;
    }

    #tech-stack .info-box h2 {
        font-size: 2.5em;
        opacity: 15;
    }

    .tech-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .tech-container div {
        font-size: 1em;
    }

    .tech-container i {
        font-size: 3.5em;
    }

    .tech-container p {
        font-size: 1.1em;
    }

    #Contact h1 {
        font-size: 3.5em;
        opacity: 15;
    }

    #Contact p {
        font-size: 1.3em;
    }

    #Contact .tech-container {
        flex-direction: column;
        align-items: center;
    }

    #Contact .tech-container a {
        margin: 1em 0;
    }

    #Contact .tech-container i {
        font-size: 3em;
    }

    #Contact .tech-container p {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 2em 5%;
    }

    .logo {
        font-size: 1.3em;
    }

    #Home img {
        width: 30vw;
    }

    #Home .info-box h1 {
        font-size: 4em;
        opacity: 15;
    }

    #Home .info-box h3 {
        font-size: 1.8em;
        opacity: 15;
    }

    #Home .info-box p {
        font-size: 1.3em;
        opacity: 15;
    }

    #About .info-box h1 {
        font-size: 3em;
        opacity: 15;
    }

    #About .info-box p {
        font-size: 1em;
        opacity: 15;
    }

    #About .info-box h2 {
        font-size: 2.5em;
        opacity: 15;
    }

    #tech-stack .info-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
        max-width: 600px;
    }

    #tech-stack .info-box h1 {
        font-size: 3em;
        opacity: 15;
    }

    #tech-stack .info-box p {
        font-size: 1.3em;
        opacity: 15;
    }

    #tech-stack .info-box h2 {
        font-size: 2.3em;
        opacity: 15;
    }

    .tech-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .tech-container div {
        font-size: 1.1em;
    }

    .tech-container i {
        font-size: 3.5em;
    }

    .tech-container p {
        font-size: 1.1em;
    }
    
    #Contact h1 {
        font-size: 3em;
        opacity: 15;
    }

    #Contact p {
        font-size: 1.3em;
        opacity: 15;
    }

    #Contact .tech-container a {
        margin: 1.5em 0;
    }

    #Contact .tech-container i {
        font-size: 2.5em;
    }

    #Contact .tech-container p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 1em;
    }

    #Home .info-box h1 {
        font-size: 3.1em;
        opacity: 15;
    }

    #Home .info-box h3 {
        font-size: 2.3em;
        opacity: 15;
    }

    #Home .info-box p {
        font-size: 1.5em;
        opacity: 15;
    }

    #Home img {
        width: 40vw;
    }

    #About .info-box h1 {
        font-size: 2.8em;
        opacity: 15;
    }

    #About .info-box p {
        font-size: 1.5em;
        opacity: 15;
        margin-top: 0.8em;
    }

    #About .info-box h2 {
        font-size: 2em;
        opacity: 15;
    }

    #tech-stack .info-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
        max-width: 500px;
    }

    #tech-stack .info-box h1 {
        font-size: 2.8em;
        opacity: 15;
    }

    #tech-stack .info-box p {
        font-size: 1.5em;
        opacity: 15;
    }

    #tech-stack .info-box h2 {
        font-size: 2em;
        opacity: 15;
    }

    .tech-container {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }

    .tech-container div {
        font-size: 1em;
    }

    .tech-container i {
        font-size: 3em;
    }

    .tech-container p {
        font-size: 1em;
        opacity: 15;
    }

    #Contact h1 {
        font-size: 2.8em;
    }

    #Contact p {
        font-size: 1.5em;
    }

    #Contact .tech-container a {
        margin: 2em 0;
    }

    #Contact .tech-container i {
        font-size: 2em;
    }

    #Contact .tech-container p {
        font-size: 0.9em;
    }
}
